# cp integration/joplin-sticky-notes.desktop ~/.config/autostart
[Desktop Entry]
Comment=Joplin Sticky Notes
Exec=bash -c "sleep 10 && /path/to/python -m joplin_sticky_notes"
Name=joplin-sticky-notes
Type=Application
